// Vendor
@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';
@import '../../bower_components/garnish/src/garnish';

@import 'reset';
@import 'helpers';


/* Base
================================ */

html {
  font-size: 62.5%
}

body {
  color: $c-primary;
  font-family: $t-fam-primary;
}

a, a:link, a:visited {
  color: $c-primary;
  text-decoration: none;
}


/* Text
================================ */

// Use the class "text" on any container specifically for textual content

.text {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}


/* Main Site
================================ */

.site-wrapper {
  margin: 4rem auto;
  width: 40rem;
}

// Header

.site-header {

}

.site-logo {
  @include font-size(2.4);
  font-weight: $t-weight;
}

// Footer

.site-footer {

}


/* Content Area
================================ */

.site-content {

}


.ie {
  @import 'ie';
}
